<div class="confirmPost" data-price="{{price}}" data-maxSeats="{{maxSeats}}">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="{{image}}" alt="{{name}}">
    </div>
    <div class="post-detail-info-container">
      <p>Driver's Name: <span class="driver-name">{{name}}</span></p>
      <p>Maximum Available Seats: <span class="available-seats">{{maxSeats}}</span></p>
      <p>Price: $<span class="ride-price">{{price}}</span></p>
      <p>License Plate Number: <span class="license-plate">{{licenseNo}}</span></p>
    </div>
  </div>
</div>