<div class="post" data-price="{{price}}" data-maxSeats="{{maxSeats}}">
  <div class="post-contents">
    <div class="post-image-container">
      <img src="{{photoURL}}" alt="{{driverName}}">
    </div>
    <div class="post-detail-info-container">
      <p>Driver's Name: <span class="driver-name">{{driverName}}</span></p>
      <p>Maximum Available Seats: <span class="available-seats">{{maxSeats}}</span></p>
      <p>License Plate Number: <span class="license-plate">{{licenseNo}}</span></p>
    </div>
  </div>
</div>